*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    text-align: center;
    font-family: sans-serif;
    height: 100vh;
}
#painel_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    font-size: 15pt;
    margin: 20px;
}
#painel_header h1{
    font-size: 35pt;
}
#hero {
    display: flex;
    background: linear-gradient(to bottom right, #0a2792, #318fb1);
    justify-content: space-around;
    align-items: center;
    text-align: left;
    padding: 45px;
    height: 300px;
}
#hero #texto{
    color: white;
    align-self: flex-start;
}
#hero h1 {
    font-size: 50pt;
}
#hero p{
    font-size: 15pt;
    margin-top: 10px;
    width: 70%;
}
#paineis{
    display: flex;
    justify-content: space-around;
    margin: 50px 0px;
    flex-wrap: wrap;
    row-gap: 50px;
}
#paineis section{
    display: flex;    
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: left;
    height: 200px;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 7px -1px;
    transition: 0.2s;
}
#painel1 {
    background: linear-gradient(to bottom right, rgb(211, 108, 80), rgb(239, 172, 63) );
    color: white;
}
#paineis img {
    width: 100px;
    margin: 30px;
}       
#paineis #texto{
    margin-left: 20px;
    align-self: start;
}
#paineis h1 {
    font-size: 25pt;
}
#paineis p{
    font-size: 12pt;    
    margin-top: 10px;
}
#painel3{
    background: linear-gradient(to bottom right, rgb(255, 245, 60), rgb(255, 238, 107) );
}
#painel2 {
    background:linear-gradient(to bottom right, rgb(59, 93, 145), rgb(35, 161, 193));
    color: white;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
#paineis section:hover{
    transform: translateY(-20px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 23px 7px -1px;
    transition: 0.2s;
}
hr{
    width: 80%;
    display: inline-block;
}
#menu_lateral{
    display: none;
}
#menu_pc{
    display: block;
}

@media screen and (max-width: 768px) and (min-width: 481px){    
    #painel_header {
        font-size: 10pt;
    }
    #painel_header h1{ 
        font-size: 20pt;
    }
    #hero h1 {
        font-size: 30pt;
    }
    #hero p{
        font-size: 10pt;
        margin-top: 20px;
        width: 100%;
    }
    #paineis section{
        width: 80%;
    }
    #menu_pc{
        display: none;
    }
    /*MENU LATERAL*/
    #menu_lateral{
        background-color: #ffffff;
        display: block;
        position: fixed;
        height: 100vh;
        top: 0;
        right: 0;
        width: 30%;
        z-index: 999999;
    }
    #menu_lateral nav ul{
        list-style-type: none;
        text-align: right;
    }
    #menu_lateral nav ul li a{
        display: block;
        color: black;
        font-size: 20px;
        padding: 20px;
        font-weight: 300;
    }
     #menu_lateral nav ul li a:hover{
        background-color: #0a2792;
    }
}